.banner-button{
    display: inline-block;
    background-color: #f07167;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 15px 30px;
    transition: 0.5s;
}

.banner-button:hover{
    background-color: #f07160;
}